<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.dao.RoleDao">
	<insert id="addRole">
		insert into
		kg_role(name) values(#{name})
	</insert>
	<update id="updateRole">
		update kg_role
		<set>
			<if test="name!=null and name!=''">
				name=#{name},
</if>
		</set>
		where id=#{id}
	</update>
	<delete id="deleteByIds">
		delete from kg_role where id in
		<foreach collection="ids" open="(" close=")" separator=","
			item="id">#{id}</foreach>
	</delete>
	<delete id="deleteRoleModule">
	 delete from kg_role_module where role_id in 
	       <foreach collection="ids" open="(" close=")" separator=","
			item="id">#{id}</foreach>
	</delete>
	<select id="getRoleById" resultType="Role">
		select * from kg_role where id=#{id}
	</select>
	<select id="getRoleByPage" resultType="Role">
		select * from kg_role order by id desc limit #{begin},#{pageSize}
	</select>
	<select id="getRows" resultType="int">
		select count(*) from kg_role
	</select>
	<select id="getRoleByName" resultType="Role">
	  select * from kg_role where name=#{name}
	</select>
	<select id="getAllRole" resultType="Role">
	 select * from kg_role
	</select>
</mapper>