<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dq.dao.UserDao">
	<insert id="save">
		insert into
		dq_user(tel,openId,ImgUrl,nickname,password,integral,join_time)
		values(#{tel},#{openId},#{ImgUrl},#{nickname},#{password},#{integral},#{join_time})
	</insert>
	<update id="update">
		update dq_user
		<set>
			<if test="integral!=null and integral!=''">
				integral=#{integral},
</if>
		</set>
		where id=#{id}
	</update>
	<delete id="deleteByIds">
		delete from dq_user where id in
		<foreach collection="ids" open="(" close=")" separator=","
			item="id">#{id}</foreach>
	</delete>
	<select id="getById" resultType="User">
		select * from dq_user
		where
		id=#{id}
	</select>
	<select id="getAllByPage" resultType="User">
		select * from dq_user
		<where>
			<if test="nickname!=null and nickname!=''">
				and nickname like "%"#{nickname}"%"
		</if>
			<if test="tel!=null and tel!=''">
				and tel like "%"#{tel}"%"
		</if>
		</where>
		order by id desc limit #{begin},#{pageSize}
	</select>
	<select id="getRows" resultType="int">
		select count(*) from dq_user
		<where>
			<if test="nickname!=null and nickname!=''">
				and nickname like "%"#{nickname}"%"
		</if>
			<if test="tel!=null and tel!=''">
				and tel like "%"#{tel}"%"
		</if>
		</where>
	</select>
	<select id="getUserByTel" resultType="User">
		select * from dq_user where tel=#{tel}
  </select>
</mapper>