<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@author yubangqiong  --> 
<mapper namespace="com.cgwas.menuInfo.dao">
	<sql id="columnsAs">
		id, menu_name, parent_id, sort
	</sql>

	<select id="selectMenuInfoPage" resultType="com.cgwas.menuInfo.entity.MenuInfoVo">
		select
		<include refid="columnsAs"/>
		from
		s_menu_info 
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}
	</select>
	
	<select id="selectMenuInfoCount" resultType="java.lang.Long">
		select
		count(id)
		from s_menu_info
		where 1=1
		<include refid="conds" />
	</select>

</mapper>