<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgwas.userGroup.dao">
	<sql id="columnsAs">
		t1.id, t1.honor, t1.starts, t1.type, t1.min_integral, t1.max_integral, t1.honor_color
	</sql>

	<select id="selectUserGroupPage" resultType="com.cgwas.userGroup.entity.UserGroupVo">
		select
		<include refid="columnsAs"/>
		from
		u_user_group t1
		join
		(SELECT
		id
		from
		u_user_group
		where 1=1
		
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectUserGroupCount" resultType="java.lang.Long">
		select
		count(id)
		from u_user_group
		where 1=1
		<include refid="conds" />
	</select>

</mapper>