<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgwas.educationalBackground.dao">
	<sql id="columnsAs">
		t1.id, t1.academy_begin_date, t1.academy_end_date, t1.academy_name, t1.department, t1.degree, t1.user_id
	</sql>

	<select id="selectEducationalBackgroundPage" resultType="com.cgwas.educationalBackground.entity.EducationalBackgroundVo">
		select
		<include refid="columnsAs"/>
		from
		u_educational_background t1
		join
		(SELECT
		id
		from
		u_educational_background
		where 1=1
		
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectEducationalBackgroundCount" resultType="java.lang.Long">
		select
		count(id)
		from u_educational_background
		where 1=1
		<include refid="conds" />
	</select>

</mapper>