<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@author yubangqiong  --> 
<mapper namespace="com.cgwas.positionMenu.dao">
	<sql id="columnsAs">
		t1.id, t1.position_id, t1.menu_id
	</sql>

	<select id="selectPositionMenuPage" resultType="com.cgwas.positionMenu.entity.PositionMenuVo">
		select
		<include refid="columnsAs"/>
		from
		u_position_menu t1
		join
		(SELECT
		id
		from
		u_position_menu
		where 1=1
		
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectPositionMenuCount" resultType="java.lang.Long">
		select
		count(id)
		from u_position_menu
		where 1=1
		<include refid="conds" />
	</select>

</mapper>