<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgwas.visitor.dao">
	<sql id="columnsAs">
		t1.id, t1.ip, t1.country, t1.region, t1.city, t1.area,
		t1.county, t1.isp, t1.visit_time, t1.status
	</sql>

	<select id="selectVisitorPage" resultType="com.cgwas.visitor.entity.VisitorVo">
		select
		<include refid="columnsAs" />
		from
		s_visitor t1
		join
		(SELECT
		id
		from
		s_visitor
		where 1=1

		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>

	<select id="selectVisitorCount" resultType="java.lang.Long">
		select
		count(id)
		from s_visitor
		where 1=1
		<include refid="conds" />
	</select>

</mapper>