<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgwas.recommend.dao">
	<sql id="columnsAs">
		t1.id, t1.priority, t1.type, t1.reason, t1.status, t1.name, t1.relation_id
	</sql>

	<select id="selectRecommendPage" resultType="com.cgwas.recommend.entity.RecommendVo">
		select
		<include refid="columnsAs"/>
		from
		u_recommend t1
		join
		(SELECT
		id
		from
		u_recommend
		where 1=1
		
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectRecommendCount" resultType="java.lang.Long">
		select
		count(id)
		from u_recommend
		where 1=1
		<include refid="conds" />
	</select>

</mapper>