<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgwas.companyAuthInfo.dao">
	<sql id="columnsAs">
		t1.id, t1.charter_path, t1.status, t1.company_id, t1.creat_time
	</sql>

	<select id="selectCompanyAuthInfoPage" resultType="com.cgwas.companyAuthInfo.entity.CompanyAuthInfoVo">
		select
		<include refid="columnsAs"/>
		from
		u_company_auth_info t1
		join
		(SELECT
		id
		from
		u_company_auth_info
		where 1=1
		
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectCompanyAuthInfoCount" resultType="java.lang.Long">
		select
		count(id)
		from u_company_auth_info
		where 1=1
		<include refid="conds" />
	</select>

</mapper>